@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --Color-Primario-01: #000000; /*NEGRO*/
    --Color-Primario-02: #ffffff; /*BLANCO*/
    --Color-segundario-01: #F6F6A5; /*AMARILLO-GRIS*/
    --fondo: url("../img/atila.png")
}

/*RESTABLECIMIENTO DE CSS*/
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0; 
}

/* SELECTORES DE TÍULOS */
h1{ 
    color: var(--Color-Primario-02);
    font-size: 12vw; 
    font-family: 'Bebas Neue', cursive;
    text-shadow: var(--Color-segundario-01) 0 0 0.5em unset; 
}

body{
    background: var(--Color-Primario-01);
    margin: 0 auto;
    width: 90%;   
}

/* SELECTORES DEL BODY */
main{
    margin: 0 auto;
    min-height: 450px;
    width: 100%;
}

.button-index{
    align-items: center;
    background: var(--Color-Primario-01);
    background-image: var(--fondo);
	box-shadow: 10px 25px 25px 25px var(--Color-Primario-01) inset;
    display: flex;
    margin: 1%;
    opacity: 30%;    
    width: 100%;
    z-index: 1;
}

.button-index a{
    color: var(--Color-Primario-02);
    font-size: 3vw;
    letter-spacing: 1vw;
    text-shadow:  0 0 0.5em var(--Color-Primario-02);   
}

.button-index a:hover{
    color: #fff;
    text-decoration: none; 
}

.button-index:hover{
    box-shadow: 20px 20px 20px 40px var(--Color-Primario-01) inset;
    opacity: 100%;    
    z-index: 10;
}

blockquote{
    color: #616050;
    text-shadow: 1px 1px 1px var(--Color-Primario-02);
}

/* SELECTORES DEL FOOTER */

#footer-md{
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1%;
    position: absolute;
    width: 100%; 
}

#footer{
    display: none;
    color: white;
    justify-content: center;
    margin: 0 auto;
    padding: 1%;
    position: absolute;
    width: 100%; 
}

@media only screen and (max-width: 720px) {

    main{
        min-height: 95%;
    }

    h1{ 
        font-size: 25vw;         
    }

    .button-index a{
        font-size: 8vw;  
    }

    blockquote{
        border: 1px solid var(--Color-segundario-01);
        font-size: 4vw; 
        margin-top: 20px;
        padding: 3vw;
    }

    #footer-md{
        display: none;
    }
    #footer{
        display: flex;
        text-align: center;
    }
    

}