@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --Color-Primario-01: #000000; /*NEGRO*/
    --Color-Primario-02: #002FA7; /*AZUL*/
    --Color-segundario-01: #F6F6A5; /*AMARILLO*/
    --bg-texture: url('../img/texture.png');
}

/*RESTABLECIMIENTO DE CSS*/
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0; 
}

/*SELECTOR INDEX*/



/* SELECTORES DE TÍULOS */
h1{ 
    font-size: 10vw; 
    font-family: 'Bebas Neue', cursive;
    color: WHITE;
    text-shadow: var(--Color-segundario-01) 0 0 0.005em
    
}

body{
    background: var(--Color-Primario-01);
    margin: 0 auto;
    width: 100%;
    
}

/* SELECTORES DEL BODY */
main{
    margin: 0 auto;
    min-height: 450px;
    width: 100%;
}

/* SELECTORES DE LA CABECERA */

header{
    align-items: center;
    background: var(--Color-bg-header);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0% auto;
    padding: 1%;
    width: 100%;
}
        


/* SELECTORES DEL FOOTER */

footer{

    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1%;
    width: 100%; 
    position: absolute;

}

@media only screen and (max-width: 820px) {

    main{
        min-height: 95%;
    }

    h1{ 
        font-size: 25vw;         
    }

}